export KITVERSION=latest-cd
export IRISTAG=containers.intersystems.com/intersystems/irishealth:$KITVERSION
# export IRISTAG=containers.intersystems.com/intersystems/irishealth-arm64:$KITVERSION
export WEBGTAG=containers.intersystems.com/intersystems/webgateway:$KITVERSION
# export WEBGTAG=containers.intersystems.com/intersystems/webgateway-arm64:$KITVERSION
