global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend webgateways

backend webgateways
    balance roundrobin
    cookie SERVERID insert indirect nocache
    server wga webgatewaya:80 check cookie A
    server wgb webgatewayb:80 check cookie B
